.page-section {
    padding: 1.2rem 0;

    @mixin atMedium {
        padding: 4.5rem 0;
    }
    
    &--blue {
        background-color: $mainBlue;
        color: #FFF;
    }

    &--no-b-padding-until-medium {
        padding-bottom: 0;

        @mixin atMedium {
            padding-bottom: 4.5rem;
        }
    }
    
    &--no-b-padding-until-large {
        padding-bottom: 0;

        @mixin atLarge {
            padding-bottom: 4.5rem;
        }
    }

    &--testimonials {
        background-color: #E0E6EF;

        @mixin atLarge {

            /* 
            The reason we target lazyloaded, rather than the class we added in HTML called lazyload is because once that section is scrolled to, the lazyloader functionality will automatically change the classed to lazyloaded.  Now we're only loaging the image once lazyloader has activated for this seciton.
            */

            &.lazyloaded {
                background: url("../../assets/images/testimonials-bg.jpg") top center no-repeat; /* Similar to in the HTML doc, we remove the first forward slash because we don't want to go to the base of the current domain. */
                background-size: cover;
            }
        }
    }

}